/* Home Page Styles */
#project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between cards */
  margin-top: 30px;
}

#project-list a {
  text-decoration: none;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  color: #333;
  font-size: 1.2rem;
}

.project-card p {
  color: #555;
  font-size: 1rem;
}

#about-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

#about-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#about-section p {
  font-size: 16px;
}
