/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Mogra&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: Arial, sans-serif; /* Ensuring the same font family */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  font-family: Mogra;
  position: relative;
  background-image: url("./dogs-on-beach.jpeg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color: #eee272;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  position: absolute;
  font-size: 3rem;
  color: #eee272;
  top: 20px;
  left: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 10px;
}

#header-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(238, 226, 114, 0.1);
  padding: 20px;
  border-radius: 10px;
}

header p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
}

#about-section {
  padding: 45px;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  line-height: 2;
}

/* Project List */
#project-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Mobile-first grid */
  gap: 20px;
  margin: 20px auto;
  max-width: 1200px;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

/* Create Project Button */
#create-project-button {
  text-align: center;
  margin: 20px auto;
}

#create-project-button button {
  padding: 10px 20px;
  background-color: #eee272;
  color: #333;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#create-project-button button:hover {
  background-color: #d4c264;
  color: #000;
}
